body {
  background-color: #3c3c3c; 
}
.logo img{
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100px;
  width: 100px;
  margin-right: 20px
}
nav.menu-nav ul li.bouton{
  list-style-type: none;
  display: inline-block;
}
