body {
  background-color: #3c3c3c; 
}
.logo img{
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100px;
    width: 100px;
    margin-right: 20px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-nav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    backgroun-color: #262626;
}
nav.menu-nav ul li.bouton{
    list-style-type: none;
    display: inline-block;
}
nav.menu-nav ul li.bouton a{
    color: #ff76e4; 
    background-color: #262626;
    text-decoration: none;
    padding: 20px;
}
nav.menu-nav ul li.bouton:hover a{
    color: #262626;
    background-color: #ff76e4;
    transition: 1s all;
}

